<div class="mx-4">
  <%= form_with(model: recipe, html: { onsubmit: "return validateImageURL();" }) do |form| %>
    <% if recipe.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>
        <ul>
          <% recipe.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="mb-4">
      <%= form.label "Titre de la recette", style: "display: block", class: "form-label" %>
      <%= form.text_field :title, class: "form-control", placeholder: "Lasagne au chocolat" %>
    </div>
    <div class="mb-4">
      <strong>Choisir les catégories :</strong><br>
      <div class="row row-cols-2 row-cols-md-4">
        <% Category.all.each do |category| %>
          <div class="col form-check form-switch">
            <%= check_box_tag "recipe[category_ids][]", category.id, @recipe.categories.include?(category), id: "recipe_category_ids_#{category.id}", class: "form-check-input" %>
            <%= label_tag "recipe_category_ids_#{category.id}", category.title, class: "form-check-label" %><br>
          </div>
        <% end %>
      </div>
    </div>
    <div class="mb-4">
      <strong>Choisir les ingrédients :</strong><br>
      <% ingredients_by_type = Ingredient.all.group_by(&:ingredient_type) %>
      <% ingredients_by_type.keys.sort.each do |type| %>
        <div class="row align-items-center">
          <div class="col">
            <h2 class="py-3"><%= type.capitalize %></h2>
          </div>
          <div class="col-auto">
            <a href="#" class="toggle-ingredients btn-style-border" data-type="<%= type %>">
              Sélectionner vos/votre <%= type.downcase %>
              <svg xmlns="http://www.w3.org/2000/svg" class="chevron-icon" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 01.708 0L8 10.793l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z"/>
              </svg>
            </a>
          </div>
        </div>
        <div id="ingredients-<%= type %>" class="row row-cols-1 row-cols-md-4" style="display: none;">
          <% ingredients_by_type[type].each do |ingredient| %>
            <div class="col py-4">
              <div class="form-ingredient d-flex align-items-center justify-content-center" data-ingredient-id="<%= ingredient.id %>">
                <img src="<%= ingredient.image %>">
                <p> <%= label_tag "recipe_ingredient_ids_#{ingredient.id}", ingredient.title, class: "pt-3 ", style: "padding-top: 0px;" %></p>
                <br>
              </div>
              <div class="row row-cols-2 py-4 ingredient-fields" id="ingredient_fields_<%= ingredient.id %>">
                <div class="col">
                  <% quantity = @quantities[ingredient.id] %>
                  <%= text_field_tag "recipe[ingredient_quantities][#{ingredient.id}]", quantity, placeholder: 'Quantité', class: "form-control form-time ingredient-quantity", data: { ingredient_id: ingredient.id } %>
                </div>
                <div class="col">
                  <% unity = @unities[ingredient.id] %>
                  <%= select_tag "recipe[ingredient_unities][#{ingredient.id}]", options_for_select(["", "g", "kg", "mL", "cL", "L", "pièce(s)", "tranche(s)"], nil), include_blank: "Unité", class: "form-control" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="row mb-4 px-0">
      <div class="col-md-4 col-sm-2 mb-3">
        <%= form.label "Temps de préparation", style: "display: block"%>
        <%= form.time_field :preparationtime, class: "form-control form-time" %>
      </div>
      <div class="col-md-4 col-sm-2 mb-3">
        <%= form.label "Temps de cuisson", style: "display: block"%>
        <%= form.time_field :cookingtime, class: "form-control form-time"  %>
      </div>
      <div class="col-md-4 col-sm-2 mb-3">
        <%= form.label "Temps de repos", style: "display: block"%>
        <%= form.time_field :restingtime, class: "form-control form-time"  %>
      </div>
    </div>
    <div class="mb-4">
      <%= form.label "Description", style: "display: block", class: "mb-2" %>
      <%= form.text_area :description, class: "form-control", placeholder: "Description de votre recette" %>
    </div>
    <div class="row row-cols-2 row-cols-md-3 px-0">
      <div class="col mb-4">
        <%= form.label "Niveau de difficulté", style: "display: block", class: "form-label" %>
        <%= form.select :difficulty, options_for_select(["Très facile", "Facile", "Intermédiaire", "Difficile"]), {}, class: "form-control" %>
      </div>
      <div class="col mb-4">
        <%= form.label "Budget", style: "display: block", class: "form-label" %>
        <%= form.select :price, options_for_select(["Bon marché", "Cher", "Ultra cher"]), {}, class: "form-control" %>
      </div>
      <div class="col mb-4">
        <%= form.label :nbperson, "Nombre de personnes", style: "display: block", class: "form-label" %>
        <%= form.number_field :nbperson, min: 1, max: 25, value: 1, class: "form-control"%>
      </div>
    </div>
    <p>Choisir le nombre d'étape :</p>
    <div id="etapeCount" class="etape-count-container d-inline-block mb-2">
      <div class="etape-count-controls">
        <span class="button-like button-moins" data-action="minus">-</span>
        <input type="text" id="etapeInput" name="etapeInput" value="1" min="1" max="10" readonly>
        <span class="span-etape">étape(s)</span>
        <span class="button-like button-plus" data-action="plus">+</span>
      </div>
    </div>
    <div id="formStepsContainer">
      <% (1..10).each do |step_number| %>
        <div class="mb-4 step-container" data-step-number="<%= step_number %>">
          <%= form.label "Etape #{step_number}", style: "display: block", class: "mb-2" %>
          <%= form.text_area "step#{step_number}", class: "form-control", placeholder: "Descriptif de l'étape #{step_number}" %>
        </div>
      <% end %>
    </div>
    <div class="mb-4">
      <%= form.label "URL de votre image", style: "display: block", class: "mb-2" %>
      <%= form.text_field :image, class: "form-control", placeholder: "Insérez l'URL de votre image", id: "recipe-image-url" %>
    </div>
    <div class="d-flex flex-column flex-md-row align-items-center justify-content-md-end pt-4 gap-3">
      <div class="back-submit">
        <%= link_to "Annuler", @recipe, class: "link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" %>
      </div>
      <div class=" mt-md-0 ml-md-4">
        <%= form.submit "Valider", class: "btn btn-dark btn-lg" %>
      </div>
    </div>
  <% end %>
</div>
<script>
  function validateImageURL() {
    var imageURL = document.getElementById('recipe-image-url').value;
    var urlRegex = /^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$/;

    if (!urlRegex.test(imageURL)) {
      alert("Veuillez entrer une URL d'image valide.");
      return false; // Empêche la soumission du formulaire si l'URL n'est pas valide
    }
    return true; // Autorise la soumission du formulaire si l'URL est valide
  }
</script>
<script>
  (function() {
    const formIngredients = document.querySelectorAll('.form-ingredient');
    const etapeInput = document.getElementById('etapeInput');
    const formStepsContainer = document.getElementById('formStepsContainer');
    const etapeCount = document.getElementById('etapeCount');

    formIngredients.forEach(function(ingredient) {
      ingredient.addEventListener('click', function() {
        this.classList.toggle('selected');
        this.classList.toggle('checked');

        const ingredientId = this.dataset.ingredientId;
        const ingredientFields = document.getElementById(`ingredient_fields_${ingredientId}`);

        if (this.classList.contains('selected')) {
          ingredientFields.style.display = 'flex';
        } else {
          ingredientFields.style.display = 'none';
        }
      });
    });

    function updateSteps() {
        const stepCount = parseInt(etapeInput.value);
        const stepContainers = formStepsContainer.querySelectorAll('.step-container');

        stepContainers.forEach(function(stepContainer, index) {
            stepContainer.style.display = index < stepCount ? 'block' : 'none';
        });
    }

    etapeCount.addEventListener('click', function(event) {
        const target = event.target;
        if (target.classList.contains('button-like')) {
            const action = target.dataset.action;
            const currentValue = parseInt(etapeInput.value);

            if (action === 'plus' && currentValue < 10) {
                etapeInput.value = currentValue + 1;
                updateSteps();
            } else if (action === 'minus' && currentValue > 1) {
                etapeInput.value = currentValue - 1;
                updateSteps();
            }
            updateSteps();
        }
    });

    // Appel initial pour afficher les étapes initiales
    updateSteps();

  })();
</script>
<script>
  (function() {
    const toggleButtons = document.querySelectorAll(".toggle-ingredients");

    toggleButtons.forEach(button => {
      button.addEventListener("click", function(event) {
        event.preventDefault();
        const type = this.getAttribute("data-type");
        const ingredientsDiv = document.getElementById(`ingredients-${type}`);
        const chevronIcon = this.querySelector(".chevron-icon");

        if (ingredientsDiv.style.display === "none") {
          ingredientsDiv.style.display = "flex";
          chevronIcon.style.transform = "rotate(180deg)";
        } else {
          ingredientsDiv.style.display = "none";
          chevronIcon.style.transform = "rotate(0deg)";
        }
      });
    });
  })();
</script>
