<div id="<%= dom_id recipe %>" class="row">
  <div class="col-md-4">
    <img src="<%= recipe.image %>">
  </div>
  <div class="col-md-8">
    <p>Recette créé le <%= recipe.created_at.strftime("%d %B %Y") %></p>
    <h1><%= recipe.title %></h1>
    <p>Préparation <strong><%= (recipe.preparationtime.min * 60) + recipe.preparationtime.sec %>m</strong></p>
    <p>Cuisson <strong> <%= (recipe.cookingtime.min * 60) + recipe.cookingtime.sec %>m</strong></p>
    <p>Repos <strong><%= (recipe.restingtime.min * 60) + recipe.restingtime.sec %>m</strong></p>
    <p><strong>Description:</strong> <%= recipe.description %></p>
    <p><strong>Step1:</strong> <%= recipe.step1 %></p>
    <p><strong>Step2:</strong> <%= recipe.step2 %></p>
    <p><strong>Step3:</strong> <%= recipe.step3 %></p>
  </div>
</div>
