<div class="row">
  <div class="col">
    <p style="color: green;"><%= notice %></p>
    <p class="hanzi green head-title">Cuisine Kitch</p>
    <h1 class="index-title">Découvrez les <br>
      recettes du moment</h1>
    <p>Cuisine Kitch le site n°1 sur les recettes collaboratives</p>
  </div>
</div>
<div id="recipes" class="row">
  <h2 class="index-title">Tendances</h2>
  <% @recipes.each do |recipe| %>
    <div class="col-lg-4 mb-4 index-card">
      <%= link_to recipe do %>
        <div class="card position-relative" style="background-image: url('<%= recipe.image %>');">
          <div class="overlay"></div>
          <div class="card-body">
            <div class="flex-tag d-flex flex-wrap">
              <% recipe.categories.each do |category| %>
                <div class="tag d-flex align-items-center justify-content-start">
                  <p class="tag-text my-3 mx-3"><%= category.title %></p>
                </div>
              <% end %>
            </div>
            <p class="card-title"><%= recipe.title %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
