<%= form_with(model: ingredient) do |form| %>
  <% if ingredient.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(ingredient.errors.count, "error") %> prohibited this ingredient from being saved:</h2>
      <ul>
        <% ingredient.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-4">
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, class: "form-control", placeholder: "Votre titre"%>
  </div>
  <div class="mb-4">
    <%= form.label "Type", style: "display: block", class: "form-label" %>
    <%= form.select :ingredient_type, options_for_select(["Légume", "Fruit", "Viande", "Poisson", "Produit laitier", "Epicerie sucrés", "Epicerie Salée","Pain", "Pâtes", "Autres"]), { prompt: "Choisir le type de l'ingrédient" }, class: "form-control" %>
  </div>
  <div class="mb-4">
    <%= form.label :image, style: "display: block"%>
    <%= form.text_field :image, class: "form-control", id: "image-url" %>
  </div>
  <div class="d-flex flex-column flex-md-row align-items-center justify-content-md-end pt-4 gap-3">
    <div class="back-submit">
      <%= link_to "Annuler", ingredients_path, class: "link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" %>
    </div>
    <div class=" mt-md-0 ml-md-4">
      <%= form.submit "Valider", class: "btn btn-dark btn-lg", onclick: "return validateImageURL();" %>
    </div>
  </div>
<% end %>
<script>
  function validateImageURL() {
    var imageURL = document.getElementById('image-url').value;
    var urlRegex = /^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$/;

    if (!urlRegex.test(imageURL)) {
      alert("Veuillez entrer une URL d'image valide.");
      return false; // Empêche la soumission du formulaire si l'URL n'est pas valide
    }
    return true; // Autorise la soumission du formulaire si l'URL est valide
  }
</script>
