<div class="row">
  <div class="col">
    <p style="color: green;"><%= notice %></p>
    <p class="hanzi green head-title">Cuisine Kitch</p>
    <h1>Les différent ingrédients</h1>
    <p>Ajouter / Supprimer vos ingrédients</p>
  </div>
  <div class="col d-flex align-items-start justify-content-end" style="margin-top:50px;">
    <%= link_to "Ajouter un ingrédient", new_ingredient_path, class:"btn btn-style d-flex align-items-center justify-content-center"  %>
  </div>
</div>
<div id="categories" class="row row-cols-3">
  <% @ingredients.each do |ingredient| %>
    <div class="col mb-3 mx-3 category-card d-flex align-items-center justify-content-center" style="flex-direction:column;">
      <p class="card-title"><%= ingredient.title %></p>
      <div>
        <%= image_tag ingredient.image, class: "custom-image" %>
      </div>
      <div class="flex-btn d-flex">
        <%= link_to(edit_ingredient_path(ingredient), class: "btn-white d-flex align-items-center justify-content-center") do %>
          Modifier
        <% end %>
        <%= button_to "Supprimer", ingredient, method: :delete, class: "btn-white" %>
      </div>
    </div>
  <% end %>
</div>
