<!DOCTYPE html>
<html>
  <head>
    <title>Cuisinekitch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', 'custom', media: 'all' %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header class="d-flex align-items-center justify-content-center">
      <nav class="navbar navbar-expand-lg header-nav">
        <a class="navbar-brand" href="/">
          <h3 class="hanzi">Cuisine Kitch</h3>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <%= link_to "Accueil", recipes_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Nouvelle recette", new_recipe_path, class: "nav-link" %>
            </li>
            <li>
              <%= link_to "Catégories", categories_path, class: "nav-link" %>
            </li>
            <li>
              <%= link_to "Ingrédients", ingredients_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">A propos</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
